*{padding: 0px;margin: 0px;list-style: none;text-decoration: none;text-transform: none;font-family: sans-serif;}
body{
    width: 100%;
    height: 100%;
    background: #fefefe;
}
header{
    width: auto;
    height: auto;
    padding: 10% 0px 0px;
}

header .content_center {width: 90%;height: auto;position: relative;display: block;margin: 0px auto;text-align: center;}

header .content_center h1 {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    max-width: 345px;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
}

header .content_center .image {
    max-width: 420px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

header .content_center .image:hover img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0) contrast(1);
}

header .content_center .image .moldura {
    width: 190px;
    height: 100%;
    position: absolute;
    border-left: 300px solid #fff;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    top: 0;
    left: 0;
    z-index: 20;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

header .content_center .image .moldura:hover {
    width: 190px;
    height: 100%;
    position: absolute;
    border-top: 0px;
    border-bottom: 0px;
    top: 0;
    left: 0%;
    z-index: 20;
}

header .content_center .image .moldura:hover img {}

header .content_center .image img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    position: relative;
    z-index: 10;
    max-width: 100%;
}